@font-face {
    font-family: 'ZVV Brown Narrow Web';
    src: url('/fonts/ZVVBrownNarrowWeb-Regular.woff2') format('woff2'),
         url('/fonts/ZVVBrownNarrowWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZVV Brown Narrow Web';
    src: url('/fonts/ZVVBrownNarrowWeb-Bold.woff2') format('woff2'),
         url('/fonts/ZVVBrownNarrowWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZVV Brown Narrow S Web';
    src: url('/fonts/ZVVBrownNarrowSWeb-Regular.woff2') format('woff2'),
         url('/fonts/ZVVBrownNarrowSWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ZVV Brown Narrow S Web';
    src: url('/fonts/ZVVBrownNarrowSWeb-Bold.woff2') format('woff2'),
         url('/fonts/ZVVBrownNarrowSWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} 